#wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#quote-box {
  padding: 20px;
  width: 400px;
  border-radius: 5px;
  min-height: 250px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.quote-box_top > p {
  font-size: 20px;
  font-weight: 500;
}

.quote-box_top > div {
  padding: 10px 0;
  text-align: end;
}

.quote-box_top > div > span {
  font-size: 14px;
  font-weight: 300;
}

.quote-box_bottom {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.quote-box_btn {
  padding: 7px 12px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  border: none;
}
.quote-box_links > a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}
.quote-box_links > a:first-child {
  margin-right: 10px;
}
.quote-box_link {
  width: 20px;
  height: 20px;
  color: white;
}
